<div class="card card-container">
  <div class="card-body">
    <div class="text-center" style="height: 150px;">
      <img src="assets/images/AnkitS97.jpg" alt="Image of Ankit Sawant" class="img-pos rounded-circle">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <button type="button" class="btn btn-outline-primary" (click)="downloadMyFile()">Download resume</button>
        </div>
      </div>
    </div>
    <div class="intro mx-auto">
      <h2 class="text-center font-weight-bold">Ankit Sawant</h2>
      <span class="text-center">Data Scientist I at OLA</span>
      <div>
        <span class="icons"><i class="fa fa-phone" aria-hidden="true"></i> +91 9869549744</span>
        <span class="icons"><i class="fa fa-envelope" aria-hidden="true"></i> ankitssawant97@gmail.com</span>
      </div>
      <p>I am a proficient Data Scientist having more than 3 years of experience and a constant drive for learning. This has led me to earn the title of 2x Kaggle expert and develop various projects using Machine Learning and Deep Learning. 
        <br>
        Although my skills mainly involve Computer Vision and Deep Learning, I have also worked on various machine learning projects to solve some interesting problems. I believe a Data Scientist should be able to take complete ownership of their products and thus I also have some experience deploying applications on servers.
        <br>
        My experience as a software engineer has made me a good team player and made me understand product requirements from end to end. I am passionate about solving business problems using AI applications.<br>
        <a title="LinkedIn" href="https://www.linkedin.com/in/ankit-sawant-75309a146/" target="_blank">LinkedIn</a><br>
        <a title="LinkedIn" href="https://github.com/AnkitS97" target="_blank">Github</a><br>
        <a title="LinkedIn" href="https://www.kaggle.com/ankits29" target="_blank">Kaggle</a>
      </p>
    </div>

  </div>

</div>
