<!-- For more than 1 Experience use this timeline -->

<!-- <p-timeline [value]="events" align="alternate">
  <ng-template pTemplate="marker" let-event>
    <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
      <i [ngClass]="event.icon"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <p-card [header]="event.status" [subheader]="event.date">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      <button pButton label="Read more" class="p-button-text"></button>
    </p-card>
  </ng-template>
</p-timeline> -->
<div class="pb-3">
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center pt-3">
        <h2>Quinbay</h2>
        <h5>Senior Data Scientist</h5>
        <p>Dec 2022 - Present</p>
      </div>
    </ng-template>
    <ul>
      <li>Implemented Invoice Processing project utilizing LayoutLMv3 multimodal model, achieving an F1 score of 0.97, leading to a 75-hour daily reduction in manual labor</li>
      <li>Designed a Auto Reply Suggestion system for seller and customer chats, leveraging chat data analysis, mDeBERTa and clips/mfaq model achieving 0.98 mean similarity score with actual responses and 0.94 manual validation accuracy</li>
      <li>Executed Master SKU project, conducting catalog cleaning via regex and SQL grouping, clustering SKUs based on STSB model embeddings, and further fine-tuning with contrastive loss, resulting in consolidation of 53M SKUs into 36M SKUs</li>
      <li>Helped the team in tech debt task and debugging work like resolving memory leak issue in the services</li>
    </ul>
  </p-card>
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center pt-3">
        <h2>OLA</h2>
        <h5>Data Scientist</h5>
        <p>June 2021 - Nov 2022</p>
      </div>
    </ng-template>
    <ul>
      <li>Developed a digitization module to do OCR on car RC card for the validation process of used cars which decreased the manual inspection efforts by 79%</li>
      <li>Led a POC to create a car inspection product, successfully built models for car orientation classification, car and car part segmentation, and damage detection using CNN architectures like MaskRCNN, UNET, DeeplabV3, SVM trained on top of HOG features and performed postprocessing like CRF. Achieved an IoU of 0.83 on segmentation task</li>
      <li>Initiated the development of a standard annotation tool for the organization and later deployed it on a server</li>
      <li>Contributed to creating APIs and deploying their DOCKER containers on the server to serve rps of 165</li>
      <li>Co-ordinated with cross-functional teams to make sure smooth incorporation of Data Science solutions</li>
    </ul>
  </p-card>
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center pt-3">
        <h2>CitiusTech</h2>
        <h5>Software Developer</h5>
        <p>June 2019 - May 2021</p>
      </div>
    </ng-template>
    <ul>
      <li>Developed a POC for a new client by communicating with senior members and presenting the solution to them</li>
      <li>Upgraded version of angular in the application from version 7 to 9, making sure all existing features are working perfectly. This reduced the size of the application by 9% and thus improved performance</li>
      <li>Made the application compatible with legacy browsers like IE11</li>
      <li>Involved in accelerating lagging unit test cases of the project to achieve a code coverage of more than 80%</li>
    </ul>
  </p-card>
</div>
